footer{
    display: flex;
    background-color: $eerieblack;
    height: 25vh;
    justify-content: center;
    align-items: center;

    img{
        height: 60%s;
    }
}

.barber-footer{
    width: 100px;
}