
header {
    color: white;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;/*posicion horizontal*/
    flex-direction: column;
    padding: 50px;

    i{ 
        margin-top: 150px;
        color: white;
    }




    @media (max-width: 768px){
        header{
            width: 100vw;
            height: 100vh;
          
        }
    
        .texto-header {
            width: 100%;
            margin-top: 700px;
           
        }
        h1{
            padding-left: 20px;
            font-size: 40px;
         
        }


        i{ 
          
            margin-top: 90px;
            color: white;
        }
        
    }
}

